{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<input type="hidden" name="previous" value="{{ request.path }}">

  <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hi, I'm Celia.</h1>
    <p class="lead text-muted">Hey, my name is Celia Blacu, am a software developer and, as a hobby, proud owner of a few pets.<br>
      I am also an equestrian and involved in pet rescue.
    </p>
    <p>
      <a href="mailto:celia.blacu@gmail.com" class="btn btn-primary my-2">Email Me</a>
    </p>
    <img src="{% static 'portfolio/Celia.jpg' %}" height="300" />
  </div>
</section>

<!--
  <h2 class="mt-5">Projects</h2>
  <hr>
  <div class="row">

    {% for project in projects %}
    <div class="col-lg-4 col-md-6">

      {% if project.url %}
      <a href="{{ project.internalurl }}" target="_blank">
        <img src="{{ project.image.url }}" class="img-fluid mb-2">
      </a>
      {% else %}

      <img src="{{ project.image.url }}" class="img-fluid mb-2" width="200" height="200">
      {% endif %}
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>

    </div>

    {% endfor %}
  </div>

  -->

{% endblock %}
