{% extends 'todo/base.html' %}

{% block content %}

<h1>View TODO</h1>

<h2>{{ error }}</h2>

{{ todo.title }}
<form method="POST">

  {% csrf_token %}

{{ form.as_p }}
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<form method="POST", action="{% url 'completetodo' todo.id %}">

  {% csrf_token %}

  <button type="submit" class="btn btn-primary">Complete</button>
</form>

<form method="POST", action="{% url 'deletetodo' todo.id %}">

  {% csrf_token %}

  <button type="submit" class="btn btn-primary">Delete</button>
</form>

{% endblock %}
